.form-style-4 input[type="submit"],
.form-style-4 input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 15%;
    padding: 3%;
    background: #05807b;
    border-bottom: 2px solid #05807b;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 14px;
    color: #fff;
    margin-top: 30vh;
    margin-left: 8vh;
}