.box-layout-ennemie {
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom: #05807b 5px double;
    display: flex;
    justify-content: center;
}

.box-layout-joueur {
    background-color: rgba(255, 255, 255, 0.15);
    border-top: #05807b 5px double;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-layout-cartes {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 22.5%;
    border-top: #05807b 5px double;
}

.box-layout-cartes p {
    position: absolute;
}

.box-layout-carte-ennemie,
.box-layout-carte-joueur {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.box-layout-ennemie,
.box-layout-joueur p,
.box-layout-cartes {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.box-layout-ennemie img {
    width: 50px;
    padding: 10px;
}

.box-layout-joueur img {
    width: 50px;
}

.box-layout-joueur {
    height: 20%;
    position: fixed;
    bottom: 0;
}

.infos-game {
    color: white;
}

#health-logo {
    margin-left: 218px;
    height: 80px;
    width: 80px;
}

#nb-health {
    position: absolute;
    top: 4.5%;
    left: 32.3%;
}

#recruit-logo {
    margin-left: 240px;
    margin-top: -10px;
    height: 3%;
    width: 3%;
}

#name-ennemy {
    position: absolute;
    top: 8.5%;
    left: 48.1%;
}

#mp-logo {
    margin-left: 200px;
    height: 80px;
    width: 80px;
}

#nb-mp {
    position: absolute;
    top: 4.5%;
    left: 64.8%;
}

#nb-cartes {
    margin-left: 540px;
}

#nb-cartes-text {
    position: absolute;
    top: 5%;
    left: 97%;
}

#nb-cartesMe {
    padding-top: 80px;
}

#mp-logoMe {
    padding-top: 90px;
}

#nb-healthMe {
    position: absolute;
    left: 3.5%;
    top: 4%;
}

#nb-mpMe {
    position: absolute;
    left: 4.5%;
    top: 44.5%;
}

#nb-cartes-textMe {
    position: absolute;
    left: 3.5%;
    top: 85%;
}

#surrender {
    margin-top: 10px;
}