/* S'applique à toutes les pages */

* {
    padding: 0;
    margin: 0;
}

.staticBackground {
    background-image: url('../images/background_chat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}